<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.banana.banana"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.banana.banana.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.banana.banana.permission.C2D_MESSAGE" />

    
    

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:icon="@drawable/main_emotion_select_sexy"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
         </activity>
         
        
       <activity
            android:name=".login.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
        </activity>
        <activity
            android:name=".tutorial.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".intro.IntroActivity"
            android:label="@string/title_activity_intro" >
        </activity>
        <activity
            android:name=".signup.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".signup.SexInfoActivity"
            android:label="@string/title_activity_sex_info" >
        </activity>
        <activity
            android:name=".signup.CoupleRequestActivity"
            android:label="@string/title_activity_couple_request"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".signup.FirstMeetingActivity"
            android:label="@string/title_activity_first_meeting" >
        </activity>
        <activity
            android:name=".signup.BirthDayInfoActivity"
            android:label="@string/title_activity_birth_day_info" >
        </activity>
        <activity
            android:name=".signup.PeriodInfoActivity"
            android:label="@string/title_activity_period_info" >
        </activity>
        <activity
            android:name=".signup.SymtomInfoActivity"
            android:label="@string/title_activity_symtom_info" 
                        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".signup.UseInfoActivity"
            android:label="@string/title_activity_use_info" >
        </activity>
        <activity
            android:name=".dday.DdayActivity"
            android:label="@string/title_activity_dday" >
        </activity>
        <activity
            android:name=".main.BananaMainActivity"
            android:label="@string/title_activity_banana_main" >
        </activity>
        <activity
            android:name=".setting.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".setting.QnAActivity"
            android:label="@string/title_activity_qn_a" >
        </activity>
        <activity
            android:name=".setting.MyinfoActivity"
            android:label="@string/title_activity_myinfo" >
        </activity>
        <activity
            android:name=".setting.MyPartenerInfoActivity"
            android:label="@string/title_activity_my_partener" >
        </activity>
        <activity
            android:name=".setting.SequrityActivity"
            android:label="@string/title_activity_sequrity" >
        </activity>
        <activity
            android:name=".setting.AlarmActivity" >
        </activity>
        <activity
            android:name=".mission.MissionActivity"
            android:label="@string/title_activity_mission_popup" >
        </activity>
                <activity android:name=".mission.MissionPopupActivity" >
        </activity>
        
        <activity android:name=".mission.MissionDetailActivity" >
        </activity>
        <activity android:name=".mission.MissionSendAlram" >
        </activity>
        <activity
            android:name=".love.LovePopupOk"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity android:name=".love.LoveActivity" >
        </activity>
        <activity
            android:name=".love.LovePopupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity android:name=".mission.PullMissionActivity" >
        </activity>
        
        <activity android:name=".mission.AddMissionActivity" >
        </activity>
        <activity
            android:name=".signup.ResponseActivity"
            android:label="@string/title_activity_response" >
        </activity>
 
        <activity android:name=".signup.PeriodDoseInfoActivity" >
        </activity>
        <activity android:name=".mission.card.CardActivity" >
        </activity>
        <activity android:name=".mission.card.SimpleExample" >
        </activity>
        <activity
            android:name=".mission.scratch.MissionCardScratchActivity"
            android:label="@string/title_activity_mission_card_scratch" android:exported="true">
        </activity>
        <activity
            android:name=".mission.MissionSendOkActivity"
            android:label="@string/title_activity_mission_send_ok" >
        </activity>
        <activity
            android:name=".mission.receive.MissionConfirmActivity"
            android:label="@string/title_activity_mission_confirm" >
        </activity>
        <activity android:name=".setting.NoticeActivity" >
        </activity>

        <activity
            android:name=".NoticeActivity"
            android:label="@string/title_activity_notice" >
        </activity> 
        <activity
            android:name=".SimpleActivity"
            android:label="@string/title_activity_simple" >
        </activity>  
        
        <activity
            android:name=".LogoutActivity"
            android:label="@string/title_activity_logout" android:exported="true">
        </activity>
        <activity
            android:name="com.banana.banana.mission.MissionReceiveConfirmActivity"
            android:label="@string/title_activity_mission_receive_confirm" android:exported="true">
        </activity>
        <activity
            android:name=".WithDrawActivity"
            android:label="@string/title_activity_with_draw" >
        </activity>
        
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.banana.banana" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
</manifest>